<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- Kakao Map API Key -->
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=aad869da7d26bb0fdc00af50f4c40884&libraries=services,clusterer"></script>
    <link rel="stylesheet" href="../static/style.css" />
</head>
<body>
    <div id="map" style="width:100%;height:350px;"></div>
    <script>
    var mapContainer = document.getElementById('map'), // 지도를 표시할 div
    mapOption = {
    center: new kakao.maps.LatLng(33.450701, 126.570667), // 지도의 중심좌표
    level: 3 // 지도의 확대 레벨
    };
    // 지도를 표시할 div와 지도 옵션으로 지도를 생성합니다
    var map = new kakao.maps.Map(mapContainer, mapOption);
    </script>


    <!-- var inputdate가 중요함 -->
    <script>
    var inputData = ['지역1', '지역2', '지역3', '지역4', '지역5']
    var mapContainer = document.getElementById('map'),
    mapOption = {
    center: new kakao.maps.LatLng(37.54699, 127.09598),
    level: 3
    };
    var map = new kakao.maps.Map(mapContainer, mapOption);
    var count = 0;
    var ps = new kakao.maps.services.Places();
    var bounds = new kakao.maps.LatLngBounds();
    var mapTypeControl = new kakao.maps.MapTypeControl();
    map.addControl(mapTypeControl, kakao.maps.ControlPosition.TOPRIGHT);
    var imageSrc =
    "https://tistory2.daumcdn.net/tistory/3056305/skin/images/map-marker-red.png",
    imageSize = new kakao.maps.Size(35, 35),
    imageOption = {
    offset: new kakao.maps.Point(17, 40)
    };
    var markerImage = new kakao.maps.MarkerImage(imageSrc, imageSize, imageOption)
    if (inputData != null) {
    kewwordSearch(inputData[count]);
    }
    function kewwordSearch(keword) {
    ps.keywordSearch(keword, placesSearchCB);
    count = count + 1;
    }
    function placesSearchCB(data, status, pagination) {
    if (status === kakao.maps.services.Status.OK) {
    displayMarker(data[0]);
    bounds.extend(new kakao.maps.LatLng(data[0].y, data[0].x));
    if (count < inputData.length) {
    kewwordSearch(inputData[count])
    } else if (count == inputData.length) {
    setBounds();
    applyStyle();
    }
    }
    }
    function displayMarker(place) {
    var marker = new kakao.maps.Marker({
    map: map,
    position: new kakao.maps.LatLng(place.y, place.x),
    image: markerImage
    });
    kakao.maps.event.addListener(marker, 'click', function () {
    var position = this.getPosition();
    var url = 'https://map.kakao.com/link/map/' + place.id;
    window.open(url, '_blank');
    });
    var content =
    '<div class="customoverlay" style="position: relative;bottom: 76px;border-radius: 6px;border: 1px solid #ccc;border-bottom: 2px solid #ddd;float: left;">' +
    ' <a href="https://map.kakao.com/link/map/' + place.id + '"' +
    ' target="_blank" style="display: block;text-decoration: none;color: #666666;text-align: center;border-radius: 6px;font-size: 14px;font-weight: bold;overflow: hidden;background: #d95050;background: #d95050 url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/arrow_white.png) no-repeat right 14px center;">' +
    ' <span class="title" style="display: block;text-align: center;background: #fff;margin-right: 35px;padding: 8px 10px;font-size: 13px;font-weight: bold;">' +
    count + '. ' + place.place_name + '</span>' +
    ' </a>' +
    '</div>';
    var customOverlay = new kakao.maps.CustomOverlay({
    map: map,
    position: new kakao.maps.LatLng(place.y, place.x),
    content: content,
    yAnchor: 0.11
    });
    }
    function setBounds() {
    map.setBounds(bounds, 90, 30, 10, 30);
    }
    </script>


    @안내 : 가게까지 가는길 소요시간
</body>
</html>